Welcome {{ full_name }}!

Your access to {{ server_group }} has been granted as {{ username }}.

{%+ if password_access %}
You may use password to authenticate. Password for authentication is sent by sms to your mobile at {{ mobile_number }}.
{% endif %}

{%+ if key_access %}
You may use private key to authenticate. Your openssh encrypted private key is:

cat >~/.ssh/id_rsa_dev.enc <<EOF
{{ key_ssh_enc }}
EOF
chmod 600 ~/.ssh/id_rsa_dev.enc

With password delivered via sms. You may use encrypted keys. Above keys copy paste to bash session or a text editor, and save to a file. Remember to store the key in safe directory with private access only. To decrypt the key, using provided password using exeute the following:

openssl rsa -aes256 -in id_rsa_dev.enc -out ~/.ssh/id_rsa_dev

Your putty encrypted private key is:

cat >~/.ssh/id_rsa_dev.ppk <<EOF
{{ key_ppk_enc }}
EOF
chmod 600 ~/.ssh/id_rsa_dev.ppk

With password delivered via sms. You may use encrypted keys. Above keys copy paste to bash session or a text editor, and save to a file. Remember to store the key in safe directory with private access only. To decrypt the key, using provided password using exeute the following:

puttygen ~/.ssh/id_rsa_dev.ppk -o ~/.ssh/id_rsa_dev.ppk -O private

{% endif %}

Access to {{ server_group }} servers is possible via bastion host: {{ jump_server }}. 

When using ssh, remember to benefit from jump server support. Assuming that you want to access server.ip.adr, execute:

ssh -i -J {{ username }}@{{ jump_server }} {{ username }}@server.ip.adr
scp -o 'ProxyJump {{ username }}@{{ jump_server }}' local_file {{ username }}@server.ip.adr:~/
scp -o 'ProxyJump {{ username }}@{{ jump_server }}' {{ username }}@server.ip.adr:~/remote_file .

Note that even having Windows you can benefit from ssh after installing Cygwin.

Regards,
{{ admin }}

---
generated on {{ date }} to be sent to {{ email }}. If you are not th eproper receiver, please dee this message.