Welcome {{ full_name }}!

Your access to {{ server_group }} has been granted as {{ username }}.
{%+ if password_access %}
You may use password to authenticate. Password for authentication is sent by sms to your mobile at {{ mobile_number }}.
{% endif %}{%+ if key_access %}
You may use private key to authenticate. Your openssh encrypted private key is:

cat >~/.ssh/id_rsa_dev.enc <<EOF
{{ key_ssh_enc }}
{{ key_ssh_enc_stop }}
EOF
chmod 600 ~/.ssh/id_rsa_dev.enc

With password delivered via sms. Copy and paste presented key to a bash session or to a text editor, and save to a file. Remember to store the key in safe directory with private access only.

ou may use encrypted keys, or decrypted for your convinience. To decrypt the key, using SMS provided password, execute the following:

openssl rsa -in ~/.ssh/id_rsa_dev.enc -out ~/.ssh/id_rsa_dev

Your putty encrypted private key is:

cat >~/.ssh/id_rsa_dev.ppk <<EOF
{{ key_ppk_enc }}
{{ key_ppk_enc_stop }}
EOF
chmod 600 ~/.ssh/id_rsa_dev.ppk

With password delivered via sms. Copy and paste presented key to a bash session or to a text editor, and save to a file. Remember to store the key in safe directory with private access only.

You may use encrypted keys, or decrypted for your convinience. To decrypt the key, decrypt ssh key first, and convert to ppk format.

openssl rsa -in ~/.ssh/id_rsa_dev.enc -out ~/.ssh/id_rsa_dev
puttygen ~/.ssh/id_rsa_dev  -o ~/.ssh/id_rsa.ppk -O private
{% endif %}
Access to {{ server_group }} servers is possible via bastion host: {{ jump_server }}. 

When using ssh, remember to benefit from jump server support. Assuming that you want to access {{ first_host }}, execute:

ssh -i -J {{ username }}@{{ jump_server }} {{ username }}@{{ first_host }}
scp -o 'ProxyJump {{ username }}@{{ jump_server }}' local_file {{ username }}@{{ first_host }}:~/
scp -o 'ProxyJump {{ username }}@{{ jump_server }}' {{ username }}@{{ first_host }}:~/remote_file .

Note that even having Windows you can benefit from ssh after installing Cygwin.

Regards,
{{ admin }}

---
Generated on {{ date }} to be sent to {{ email }}.
If you are not the proper recipient, please delete this message.
